<Context>

 <Valve className="org.apache.catalina.valves.AccessLogValve"
                   fileDateFormat="yyyy-MM-dd"
                   prefix="dip-services-access." suffix=".log"/>

 <Resource name="jdbc/proxyws" type="javax.sql.DataSource"
                     auth="Container"
                     driverClassName="org.postgresql.Driver"
                     username="proxyws" password="444proxyws444"
                     url="jdbc:postgresql://10.1.1.11:5432/proxyws"
                     maxIdle="2" maxWait="5000" maxActive="4"/>
</Context>
