<Context>

 <Valve className="org.apache.catalina.valves.AccessLogValve"
                   fileDateFormat="yyyy-MM-dd"
                   prefix="dip-proxy-access." suffix=".log"/>

 <Resource name="jdbc/proxyws" type="javax.sql.DataSource"
                     auth="Container"
                     driverClassName="org.postgresql.Driver"
                     username="${hibernate.connection.username}" password="${hibernate.connection.password}"
                     url="jdbc:postgresql://${hibernate.connection.servername}:${hibernate.connection.portnum}/${hibernate.connection.dbname}"
                     maxIdle="2" maxWait="5000" maxActive="4"/>
</Context>
