<?xml version="1.0" encoding="UTF-8"?>

<!-- ===========================================================================
 ! $HeadURL::                                                                  $
 ! $Id::                                                                       $
 ! Version: $Rev::                                                             $
 !==============================================================================
 !
 ! dip-proxy: application context
 !
 !========================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd

        http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd">

 <!-- ============================================================== CONTEXT -->

 <import resource="spring/context.xml" />

 <!-- ======================================================= REMOTE SERVERS -->

 <import resource="spring/servers.xml" />

 <!-- ============================================================== ROUTERS -->

 <import resource="spring/routers.xml" />

 <!-- ============================================================ SCHEDULER -->

 <import resource="spring/scheduler.xml" /> 

 <!-- ============================================================ AOP AUDIT -->

 <import resource="spring/audit.xml" /> 

 <!-- ================================================================== DAO -->

 <import resource="spring/dao.xml"/>

 <!-- ======================================================= STRUTS ACTIONS -->

 <import resource="spring/struts.xml" /> 

 <!-- ========================================================= WEB SERVICES -->

 <import resource="spring/webservices.xml" />

 <!--==========================================================  TRANSFORMER -->

 <bean id="proxyTransformer" init-method="initialize" 
       class="edu.ucla.mbi.proxy.ProxyTransformer">
  <property name="transformerContext" ref="transformerContext"/>
  <property name="contextTop" value="transformer"/>
 </bean>

 <!-- ========================================================= PROXY SERVER -->

  <bean id="proxy-server-bean" init-method="initialize"
    class="edu.ucla.mbi.proxy.ProxyServer">
    <property name="wsContext" ref="wsContext"/>
  </bean>

 <!-- ============================================================ MEMCACHED -->

 <bean id="mcClient" class="edu.ucla.mbi.util.cache.McClient">
  <property name="mcf">
    <ref bean="memcachedClient"/>
  </property>
  <property name="ttl" value="864000" />
  <property name="prefix" value="PROXY"/>
 </bean>

 <bean id="memcachedClient"
          class="net.spy.memcached.spring.MemcachedClientFactoryBean">
  <property name="servers" value="10.1.4.111:11211"/>
  <property name="protocol" value="BINARY"/>
  <property name="transcoder">
    <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
        <property name="compressionThreshold" value="1024"/>
    </bean>
  </property>
  <property name="opTimeout" value="1000"/>
  <property name="timeoutExceptionThreshold" value="1998"/>
  <property name="hashAlg">
    <value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
  </property>
  <property name="locatorType" value="CONSISTENT"/>
  <property name="failureMode" value="Redistribute"/>
  <property name="useNagleAlgorithm" value="false"/>
 </bean>

</beans>
