<?xml version="1.0" encoding="UTF-8"?>

<!-- =======================================================================
 ! $HeadURL::                                                              $
 ! $Id::                                                                   $
 ! Version: $Rev::                                                         $
 !==========================================================================
 !
 ! dip-proxy: application context
 !
 !====================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

 <!-- ========================================================== CONTEXT -->

 <import resource="spring/contextBean.xml" />

 <!-- ===================================================== REMOTE SERVERS -->

 <import resource="spring/serversBean.xml" />

 <!-- ========================================================== SCHEDULER -->

 <import resource="spring/schedulerBean.xml" />

 <!-- ========================================================== AOP AUDIT -->

 <import resource="spring/auditBean.xml" /> 

 <!-- ========================================================== DAO -->

 <import resource="spring/daoBean.xml"/>

 <!--========================================================  TRANSFORMER -->

 <bean id="proxyTransformer" init-method="initialize" 
       class="edu.ucla.mbi.proxy.ProxyTransformer">
  <property name="transformerContext" ref="transformerContext"/>
  <property name="contextTop" value="transformer"/>
 </bean>

 <!-- ===================================================== STRUTS ACTIONS -->

 <import resource="spring/struts-actions.xml" /> 


 <!-- ===================================================== PROXY SERVICES -->

 <bean id="wsContext" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.server.WSContext">
   
  <property name="port" value="8080" />

  <property name="dht">
   <ref bean="dht"/>
  </property> 

  <property name="scheduler">
   <ref bean="scheduler"/>
  </property> 

  <property name="waitMillis" value="5000"/>

  <property name="threadRunMinutes" value="10"/>

  <property name="transformer">
    <ref bean="proxyTransformer"/>
  </property>

  <property name="mcClient">
    <ref bean="mcClient"/>
  </property>

  <property name="services">
   <map>
     <entry key="EBI"> 
      <map>
       <entry key="timeout" value="600"/> <!-- NOTE: default unit seconds -->
       <entry key="ttl" value="14"/>  <!-- NOTE: default unit days --> 

       <entry key="nativeServer"> 
            <ref bean="ebiReferenceServer"/>
        <!--
            <map>
                <entry key="uniprot">
                    <ref bean="remoteServerImpl"/>
                </entry>
                
                <entry key="olsmeta">
                    <ref bean="remoteServerImpl"/>
                </entry> 
                <entry key="olsname">
                    <ref bean="remoteServerImpl"/>
                </entry>

                <entry key="picr">
                    <ref bean="ebiReferenceServer"/>
                </entry>
            </map> -->
       </entry>      
       
       <entry key="proxyProto"> 
        <ref bean="referenceProxy"/>
       </entry>      
       
       <entry key="router">
        <ref bean="ebiDhtRouter"/> 
       </entry>
        
       <entry key="ramCache" value="off"/>
       <entry key="dbCache" value="off"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>

       <entry key="serviceSet">
         <set>
           <value>uniprot</value>
           <value>picr</value>
           <value>olsmeta</value>
           <value>olsname</value>
         </set>
       </entry>
      </map>
     </entry>

     <entry key="NCBI"> 
      <map> 
       <entry key="timeout" value="600"/>
       <entry key="ttl" value="30"/>

       <entry key="nativeServer">
        <ref bean="ncbiReferenceServer"/>
        <!--
        <map>
            <entry key="nlm">
                <ref bean="ncbiReferenceServer"/>
            </entry>
            <entry key="pubmed">
                <ref bean="remoteServerImpl"/>
            </entry>
            <entry key="refseq">
                <ref bean="remoteServerImpl"/>
            </entry>
            <entry key="entrezgene">
                <ref bean="remoteServerImpl"/>
            </entry>
            <entry key="taxon">
                <ref bean="remoteServerImpl"/>
            </entry>
        </map>
        -->
       </entry>      

       
       <entry key="proxyProto"> 
        <ref bean="referenceProxy"/>
       </entry>      
       
       <entry key="router">
        <ref bean="ncbiDhtRouter"/> 
       </entry>

       <entry key="ramCache" value="off"/>
       <entry key="dbCache" value="off"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/> 

       <entry key="serviceSet">
         <set>
           <value>pubmed</value>
           <value>refseq</value>
           <value>nlm</value>
           <value>entrezgene</value>
           <value>taxon</value>
         </set>
       </entry>

      </map>
     </entry>

     <entry key="MBI"> 
      <map>
       <entry key="timeout" value="600"/>
       <entry key="ttl"     value="14"/>
       
       <entry key="nativeServer">  
        <ref bean="prlReferenceServer"/>
        <!--
         <map>
            <entry key="prolinks">
                <ref bean="prlReferenceServer"/>
            </entry>
         </map>
        -->
       </entry>      
        
       <entry key="proxyProto"> 
        <ref bean="referenceProxy"/>
       </entry>      
       
       <entry key="router">
        <ref bean="mbiDhtRouter"/> 
       </entry>

       <entry key="ramCache" value="off"/>
       <entry key="dbCache" value="off"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>

       <entry key="serviceSet">
         <set>
           <value>prolinks</value>
         </set>
       </entry>

      </map>
     </entry>

     <entry key="DIP"> 
      <map>
       <entry key="timeout" value="600"/>
       <entry key="ttl" value="14"/>

       <entry key="nativeServer"> 
        <ref bean="dipReferenceServer"/>
        <!--
            <map>
                <entry key="dip">
                    <ref bean="dipReferenceServer"/>
                </entry>
                <entry key="diplegacy">
                    <ref bean="dipReferenceServer"/>
                </entry>
            </map>
        -->
       </entry>      

       <entry key="proxyProto">
        <ref bean="referenceProxy"/>
       </entry>
       
       <entry key="router">
        <ref bean="dipDhtRouter"/> 
       </entry>

       <entry key="ramCache" value="off"/>
       <entry key="dbCache" value="off"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>
  
       <entry key="serviceSet">
         <set>
           <value>dip</value>
           <value>diplegacy</value>
         </set>
       </entry>

      </map>
     </entry>

     <entry key="SGD">
      <map>
       <entry key="timeout" value="600"/>
       <entry key="ttl" value="14"/>

       <entry key="nativeServer">
        <ref bean="nativeRestSever"/>
        <!--
            <map>
                <entry key="yeastmine">
                    <ref bean="remoteServerImpl"/>
                </entry>
            </map>
        -->
       </entry>

       <entry key="proxyProto">
        <ref bean="referenceProxy"/>
       </entry>

       <entry key="router">
        <ref bean="yeastMineDhtRouter"/>
       </entry>
 
       <entry key="ramCache" value="off"/>
       <entry key="dbCache" value="off"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>

       <entry key="serviceSet">
         <set>
           <value>yeastmine</value>
         </set>
       </entry>

      </map>
     </entry>
   </map> 
  </property>
 </bean>

 <!-- =========================================================== MEMCACHED -->

 <bean id="mcClient" class="edu.ucla.mbi.util.cache.McClient">
  <property name="mcf">
    <ref bean="memcachedClient"/>
  </property>
  <property name="ttl" value="864000" />
  <property name="prefix" value="PROXY"/>
 </bean>

 <bean id="memcachedClient"
          class="net.spy.memcached.spring.MemcachedClientFactoryBean">
  <property name="servers" value="10.1.4.111:11211"/>
  <property name="protocol" value="BINARY"/>
  <property name="transcoder">
    <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
        <property name="compressionThreshold" value="1024"/>
    </bean>
  </property>
  <property name="opTimeout" value="1000"/>
  <property name="timeoutExceptionThreshold" value="1998"/>
  <property name="hashAlg">
    <value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
  </property>
  <property name="locatorType" value="CONSISTENT"/>
  <property name="failureMode" value="Redistribute"/>
  <property name="useNagleAlgorithm" value="false"/>
 </bean>

</beans>
