<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- ===========================================================================
 ! $HeadURL::                                                                  $
 ! $Id::                                                                       $
 ! Version: $Rev::                                                             $
 !==============================================================================
 !
 ! Hibernate ORM configuration
 !
 !========================================================================== -->

<hibernate-configuration>
 <session-factory>
	   
  <mapping resource="edu/ucla/mbi/cache/orm/DxfRecord.hbm.xml"/>
  <mapping resource="edu/ucla/mbi/cache/orm/NativeRecord.hbm.xml"/>
  <mapping resource="edu/ucla/mbi/cache/orm/NativeAudit.hbm.xml"/>

 </session-factory>
</hibernate-configuration>
