<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- ===========================================================================
 !
 ! Hibernate ORM configuration
 !
 !========================================================================== -->

<hibernate-configuration>
 <session-factory>
	   
  <mapping resource="hibernate-mapping/DxfRecord.hbm.xml"/>
  <mapping resource="hibernate-mapping/NativeRecord.hbm.xml"/>
  <mapping resource="hibernate-mapping/NativeAudit.hbm.xml"/>

 </session-factory>
</hibernate-configuration>
