<?xml version="1.0" encoding="UTF-8"?>

<!-- =======================================================================
 ! $HeadURL::                                                              $
 ! $Id::                                                                   $
 ! Version: $Rev::                                                         $
 !==========================================================================
 !
 ! dip-proxy: application context
 !
 !====================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

<!-- ========================================================== CONTEXT -->

 <import resource="contextBean.xml" />

<!-- ===================================================== REMOTE SERVERS -->

 <import resource="serversBean.xml" />

<!-- ======================================================= TRANSFORMERS -->

 <import resource="transformersBean.xml" />

<!-- ========================================================== SCHEDULER -->

 <import resource="schedulerBean.xml" />

<!-- ========================================================== AOP AUDIT -->

 <import resource="auditBean.xml" /> 

<!-- ========================================================== DAO -->

 <import resource="daoBean.xml"/>

<!-- ===================================================== PROXY SERVICES -->

 <bean id="wsContext" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.server.WSContext">
   
  <property name="port" value="8080" />

  <property name="dht">
   <ref bean="dht"/>
  </property> 

  <property name="scheduler">
   <ref bean="scheduler"/>
  </property> 

  <property name="waitMillis" value="5000"/>

  <property name="threadRunMinutes" value="10"/>

  <property name="services">
   <map>
     <entry key="EBI"> 
      <map>
       <entry key="timeout" value="600"/> <!-- NOTE: default unit seconds -->
       <entry key="transformer">
        <ref bean="ebiTransformer"/>
       </entry> 
       <entry key="ttl" value="14"/>  <!-- NOTE: default unit days --> 

       <entry key="nativeServer"> 
            <map>
                <entry key="uniprot">
                    <ref bean="remoteServerImpl"/>
                </entry>
                <entry key="ols">
                    <ref bean="remoteServerImpl"/>
                </entry>
                <entry key="picr">
                    <ref bean="ebiReferenceServer"/>
                </entry>
            </map>
       </entry>      
       
       <entry key="proxyProto"> 
        <ref bean="referenceProxy"/>
       </entry>      
       
       <entry key="router">
        <ref bean="ebiDhtRouter"/> 
       </entry>

       <entry key="cache" value="on"/>
       <entry key="monitor" value="on"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="debug" value="0"/>

      </map>
     </entry>

     <entry key="NCBI"> 
      <map> 
       <entry key="timeout" value="600"/>
       <entry key="transformer">
        <ref bean="ncbiTransformer"/>
       </entry>
       <entry key="ttl" value="30"/>

       <entry key="nativeServer">
        <map>
            <entry key="nlm">
                <ref bean="ncbiReferenceServer"/>
            </entry>
            <entry key="pubmed">
                <ref bean="remoteServerImpl"/>
            </entry>
            <entry key="refseq">
                <ref bean="remoteServerImpl"/>
            </entry>
            <entry key="entrezgene">
                <ref bean="remoteServerImpl"/>
            </entry>
            <entry key="taxon">
                <ref bean="remoteServerImpl"/>
            </entry>
        </map>
       </entry>      

       
       <entry key="proxyProto"> 
        <ref bean="referenceProxy"/>
       </entry>      
       
       <entry key="router">
        <ref bean="ncbiDhtRouter"/> 
       </entry>

       <entry key="cache" value="on"/>
       <entry key="remoteProxy" value="on"/>
       <entry key="monitor" value="on"/>
       <entry key="debug" value="0"/> 
      </map>
     </entry>

     <entry key="MBI"> 
      <map>
       <entry key="timeout" value="600"/>
       <entry key="transformer">
       <ref bean="prlTransformer"/>
       </entry>
       <entry key="ttl"     value="14"/>
       
       <entry key="nativeServer">  
         <map>
            <entry key="prolinks">
                <ref bean="prlReferenceServer"/>
            </entry>
         </map>
       </entry>      
        
       <entry key="proxyProto"> 
        <ref bean="referenceProxy"/>
       </entry>      
       
       <entry key="router">
        <ref bean="mbiDhtRouter"/> 
       </entry>

       <entry key="cache" value="on"/>
       <entry key="remoteProxy" value="off"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>

      </map>
     </entry>

     <entry key="DIP"> 
      <map>
       <entry key="timeout" value="600"/>
       <entry key="transformer">
        <ref bean="dipTransformer"/>
       </entry>
       <entry key="ttl" value="14"/>

       <entry key="nativeServer"> 
            <map>
                <entry key="dip">
                    <ref bean="dipReferenceServer"/>
                </entry>
                <entry key="diplegacy">
                    <ref bean="dipReferenceServer"/>
                </entry>
            </map>
       </entry>      

       
       <entry key="proxyProto">
        <ref bean="referenceProxy"/>
       </entry>
       
       <entry key="router">
        <ref bean="dipDhtRouter"/> 
       </entry>

       <entry key="cache" value="on"/>
       <entry key="monitor" value="off"/>
      </map>
     </entry>

     <entry key="SGD">
      <map>
       <entry key="timeout" value="600"/>
       <entry key="transformer">
        <ref bean="yeastMineTransformer"/>
       </entry>
       <entry key="ttl" value="14"/>

       <entry key="nativeServer">
            <map>
                <entry key="yeastmine">
                    <ref bean="remoteServerImpl"/>
                </entry>
            </map>
       </entry>


       <entry key="proxyProto">
        <ref bean="referenceProxy"/>
       </entry>

       <entry key="router">
        <ref bean="yeastMineDhtRouter"/>
       </entry>
 
       <entry key="cache" value="on"/>
       <entry key="monitor" value="off"/>
      </map>
     </entry>
   </map> 
  </property>
 </bean>

 <!-- ===================================================== STRUTS ACTIONS -->

 <import resource="struts-actions.xml" />

</beans>
