<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd     
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx.xsd 
      http://www.springframework.org/schema/aop 
      http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- ================================================= UNIVERSAL REST SERVER -->

    <bean id="restServerContext" class="edu.ucla.mbi.util.context.JsonContext">
        <property name="config">
            <map>
                <entry key="json-config" value="/etc/restserver.json"/>
                <entry key="json-source">
                    <bean class="edu.ucla.mbi.util.context.SpringFileResource">
                        <property name="file" value="etc/restserver.json"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

<!-- =========================================================== TRANSFORMER -->

    <bean id="transformerContext" class="edu.ucla.mbi.util.context.JsonContext">
        <property name="config">
            <map>
                <entry key="json-config" value="/etc/transformer.json"/>
                <entry key="json-source">
                    <bean class="edu.ucla.mbi.util.context.SpringFileResource">
                        <property name="file" value="etc/transformer.json"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

 <!-- ================================================= PROXY SERVER CONTEXT -->

 <bean id="wsContext" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.proxy.context.WSContext">

  <!-- proxy database access -->

  <property name="dipProxyDAO" ref="dipProxyDAO" />   

  <!-- memcached access -->

  <property name="mcClient" ref="mcClient" />
  
  <property name="services">
   <map>
     <entry key="EBI">  
      <map>
       <entry key="timeout" value="600"/>  <!-- NOTE: default unit seconds -->
       <entry key="ttl" value="17"/>       <!-- NOTE: default unit days --> 
       <entry key="maxRetry" value="3"/>

       <!-- native record server - original data provider --> 

       <entry key="nativeServer"> 
            <ref bean="ebiReferenceServer"/>
       </entry>      
          
       <!-- record transformations -->

       <entry key="transformer">
         <ref bean="proxyTransformer" /> 
       </entry>
       
       <entry key="ramCache" value="${ramcache}"/>
       <entry key="dbCache" value="on"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>

       <!-- services offered -->

       <entry key="serviceSet">
         <set>
           <value>uniprot</value>
           <value>picr</value>
           <value>olsmeta</value>
           <value>olsname</value>
         </set>
       </entry>
      </map>
     </entry>

     <entry key="NCBI"> 
      <map> 
       <entry key="timeout" value="600"/>
       <entry key="ttl" value="30"/>
       <entry key="maxRetry" value="1"/>

       <entry key="nativeServer">
        <ref bean="ncbiReferenceServer"/>
       </entry>      

       <entry key="transformer">
         <ref bean="proxyTransformer" />
       </entry>
       
       <entry key="ramCache" value="${ramcache}"/>
       <entry key="dbCache" value="on"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/> 

       <entry key="serviceSet">
         <set>
           <value>pubmed</value>
           <value>refseq</value>
           <value>nlm</value>
           <value>entrezgene</value>
           <value>taxon</value>
         </set>
       </entry>

      </map>
     </entry>
     
     <entry key="DIP"> 
      <map>
       <entry key="timeout" value="600"/>
       <entry key="ttl" value="14"/>
       <entry key="maxRetry" value="3"/>

       <entry key="nativeServer"> 
        <ref bean="dipReferenceServer"/>
       </entry>      

       <entry key="transformer">
         <ref bean="proxyTransformer" />
       </entry>
       
       <entry key="ramCache" value="${ramcache}"/>
       <entry key="dbCache" value="on"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>
  
       <entry key="serviceSet">
         <set>
           <value>dip</value>
           <value>diplegacy</value>
         </set>
       </entry>

      </map>
     </entry>
    
     <entry key="SGD">
      <map>
       <entry key="timeout" value="600"/>
       <entry key="ttl" value="14"/>
       <entry key="maxRetry" value="3"/>

       <entry key="nativeServer">
         <ref bean="nativeRestServer"/>
       </entry>

       <entry key="transformer">
         <ref bean="proxyTransformer" />
       </entry>

       <entry key="ramCache" value="${ramcache}"/>
       <entry key="dbCache" value="on"/>
       <entry key="monitor" value="off"/>
       <entry key="debug" value="0"/>

       <entry key="serviceSet">
         <set>
           <value>yeastmine</value>
         </set>
       </entry>

      </map>
     </entry>
   </map> 
  </property>

 </bean>

</beans>



